<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml" lang="fr"><head>

    
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        <title>
            Moteur règle recherche dossier/allocataire        </title>
        
	<link rel="stylesheet" type="text/css" href="moteur_regle_2_fichiers/all_003.css" media="all">

	<link rel="stylesheet" type="text/css" href="moteur_regle_2_fichiers/all.css" media="all">

	<link rel="stylesheet" type="text/css" href="moteur_regle_2_fichiers/screen.css" media="screen,presentation">

	<link rel="stylesheet" type="text/css" href="moteur_regle_2_fichiers/print.css" media="print">

	<link rel="stylesheet" type="text/css" href="moteur_regle_2_fichiers/menu.css" media="all">
<link rel="stylesheet" type="text/css" href="moteur_regle_2_fichiers/all_002.css" media="all">        <script type="text/javascript" src="moteur_regle_2_fichiers/prototype.js"></script><script type="text/javascript" src="moteur_regle_2_fichiers/tooltip.js"></script><script type="text/javascript" src="moteur_regle_2_fichiers/webrsa.js"></script>        <!-- TODO: à la manière de cake, dans les vues qui en ont besoin -->
        <script type="text/javascript">
            // prototype
            document.observe("dom:loaded", function() {
                window.history.forward();

                var baseUrl = 'http://localhost/mhamzaoui/webrsa/';
                make_treemenus( baseUrl );
//                 make_table_tooltips();
                make_folded_forms();
                mkTooltipTables();

                // External links
                $$('a.external').each( function ( link ) {
                    $( link ).onclick = function() {
                        window.open( $( link ).href, 'external' ); return false;
                    };
                } );
            });
        </script>
        <script type="text/javascript">
        //<![CDATA[
            function printit(){
                if (window.print) {
                window.print() ;
                } else {
                    var WebBrowser = '<object id="WebBrowser1" WIDTH=0 HEIGHT=0 CLASSID="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2"></object>';
                    document.body.insertAdjacentHTML('beforeEnd', WebBrowser);
                        WebBrowser1.ExecWB(6, 2);//Use a 1 vs. a 2 for a prompting dialog box    WebBrowser1.outerHTML = "";
                }
            }
        //]]>
        </script>

        <!--[if IE]>
            <style type="text/css" media="screen, presentation">
                .treemenu { position: relative; }
                .treemenu, .treemenu *, #pageMenu, #pageWrapper { zoom: 1; }
            </style>
        <![endif]-->
    </head><body>
            <div id="pageWrapper">
            <div id="pageHeader">
    <!--        <div id="whois">&nbsp;</div>
    -->
    &nbsp;
</div>            <div id="menu1Wrapper">
    <div class="menu1">
        <ul>
                                    <li id="menu1one" onmouseover="$(this).addClassName( 'hover' );" onmouseout="$(this).removeClassName( 'hover' );">
                    <a href="#">Gestion des cohortes</a>                    <ul>
                    <!-- AJOUT POUR LA GESTION DES CONTRATS D'INSERTION (Cohorte) -->
                        <li onmouseover="$(this).addClassName( 'hover' );" onmouseout="$(this).removeClassName( 'hover' );">
                            <a href="http://localhost/mhamzaoui/webrsa/cohortesci" title="Gestion des contrats">Contrat insertion</a>                        </li> 
                    <!-- MODIF POUR LA GESTION DES ORIENTATIONS (Cohorte) -->
                        <li onmouseover="$(this).addClassName( 'hover' );" onmouseout="$(this).removeClassName( 'hover' );">
                            <a href="#">Orientation</a>                                <ul>
                                    <li><a href="http://localhost/mhamzaoui/webrsa/cohortes/nouvelles" title="Nouvelles demandes">Nouvelles demandes</a></li>
                                    <li><a href="http://localhost/mhamzaoui/webrsa/cohortes/orientees" title="Demandes orientées">Demandes orientées</a></li>
                                    <li><a href="http://localhost/mhamzaoui/webrsa/cohortes/enattente" title="Demandes en attente">En attente</a></li>
                                    <!-- <li><a href="/mhamzaoui/webrsa/cohortes/exports_index" title="Fichiers exportés">Fichiers Exportés</a></li> -->
                                    <!--<li><a href="#">Liste suivant critères</a></li>
                                    <li><a href="#">Gestion des éditions</a></li> -->
                                </ul>
                        </li>
                        <li onmouseover="$(this).addClassName( 'hover' );" onmouseout="$(this).removeClassName( 'hover' );">
                            <a href="http://localhost/mhamzaoui/webrsa/pages/display/recherche_indus">Indus</a>                        </li> 
                    </ul>
                </li> 
                                        <li id="menu2one">
                    <a href="#">Recherche multicritères</a>                    <ul>
                        <li><a href="http://localhost/mhamzaoui/webrsa/">Par dossier / allocataire</a></li>
                        <li><a href="http://localhost/mhamzaoui/webrsa/criteres">Par Orientation</a></li>
                        <li><a href="http://localhost/mhamzaoui/webrsa/criteresci">Par Contrat insertion</a></li>
                    </ul>
                </li>
                                        <li id="menu2one">
                    <a href="#">Insertion</a>                    <ul>
                        <li><a href="http://localhost/mhamzaoui/webrsa/pages/display/liste_appels_a_projet">Appels à projet</a></li>
			<li><a href="http://localhost/mhamzaoui/webrsa/pages/display/recherche_suivi_stagiaire">Suivi des stagiaires</a></li>
			<li><a href="http://localhost/mhamzaoui/webrsa/pages/display/demande_remboursement">Demande de remboursement</a></li>
                    </ul>
                </li>
                                        <li id="menu2one">
                    <a href="#">Tableaux de bord</a>                    <ul>
			<li><a href="http://localhost/mhamzaoui/webrsa/pages/display/indicateurs_mensuels">Indicateurs mensuels</a></li>
                    </ul>
                </li>
                                            <li id="menu3one">
                        <a href="#">Administration</a>                        <ul>
                            <li><a href="http://localhost/mhamzaoui/webrsa/droits/edit">Droits</a></li>
                            <li><a href="http://localhost/mhamzaoui/webrsa/parametrages">Paramétrage</a></li>
			    <li><a href="#">Moteur de règle</a>				<ul>
				    <li><a href="http://localhost/mhamzaoui/webrsa/pages/display/moteur_regle_1">Orientation</a></li>
				    <li><a href="http://localhost/mhamzaoui/webrsa/pages/display/moteur_regle_2">Recherche dossier/allocataire</a></li>
				    <li><a href="http://localhost/mhamzaoui/webrsa/pages/display/moteur_regle_3">Recherche orientation</a></li>
				    <li><a href="http://localhost/mhamzaoui/webrsa/pages/display/moteur_regle_4">Recherche contrat d'insertion</a></li>
				 <!--   <li><a href="/mhamzaoui/webrsa/pages/display/moteur_regle_2">Contrat d&#039;insertion</a></li> -->
				</ul>
			    </li>
			    <li><a href="#">Paiement allocation</a>				<ul>
				    <li><a href="http://localhost/mhamzaoui/webrsa/pages/display/criteres_paiements_allocations">Listes nominatives</a></li>
				    <li><a href="http://localhost/mhamzaoui/webrsa/pages/display/criteres_mandats_paiements">Mandats mensuels</a></li>
				</ul>
			    </li>
                        <!--  <li><a href="#">Intégration flux</a></li>
                            <li><a href="#">Gestion des logs</a></li>
                            <li><a href="#">Gestion des éditions</a></li>-->
                        </ul>
                    </li>
                        <li id="menu4one"><a href="http://localhost/mhamzaoui/webrsa/users/logout">Déconnexion webrsa</a></li>
                    </ul>
    </div>
</div>


              <!--  -->

    <div id="pageCartouche">
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Groupe</th>
                    <th>Service instructeur</th>
                    <!-- <th>Zones géographiques</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Hamzaoui </td>
                    <td> Michel </td>
                    <td> Administrateurs </td>
                    <td> Service Social Départemental </td>
                    <!--<td>
                        <ul>
                                                    </ul>
                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>
            <div id="pageContent">
                                

<div class="">
    <h1>Moteur de règle recherche dossier/allocataire</h1><br>

    <form method="post" action=""> 

    <fieldset><legend>Affichage des résultats</legend>
	<div class="">
	<label>Nombre de lignes par page de résultats</label>
	    <select style="margin-left: 400px; text-align: center;">
		<option value="">10</option>
		<option value="" selected="selected">20</option>
		<option value="">30</option>
		<option value="">50</option>
		<option value="">100</option>
	    </select>
	</div>
    </fieldset>      
    <fieldset><legend>Critères de recherche</legend>
	<div class="">
	<label>Numéro dossier RSA</label><input checked="checked" style="position: absolute; left: 500px;" type="checkbox"><br><br>
	<label>Date de demande RSA</label><input checked="checked" style="position: absolute; left: 500px;" type="checkbox"><br><br>
	<label>Date de naissance</label><input checked="checked" style="position: absolute; left: 500px;" type="checkbox"><br><br>
	<label>Nom</label><input checked="checked" style="position: absolute; left: 500px;" type="checkbox"><br><br>
	<label>Nom de jeune fille</label><input checked="checked" style="position: absolute; left: 500px;" type="checkbox"><br><br>
	<label>Prénom</label><input checked="checked" style="position: absolute; left: 500px;" type="checkbox"><br>
	</div>
    </fieldset>
        <div class="submit"><input value="Enregistrer" type="submit"></div>    </form></div>

<div class="clearer"><hr></div>            </div>

        </div>
    
            <div id="pageFooter">
    webrsa v. 1.0.4.398 (CakePHP v. 1.2.2.8120) - 2009@Adullact.
    Page construite en 0,33 secondes.    $LastChangedDate: 2009-07-27 17:51:26 +0200 (lun., 27 juil. 2009)$
</div>
        
    </body></html>