div#menu1Wrapper {
    width:90%;
    margin: auto;
}

.menu1 { /* Positionnement et forme du menu  */
    float:left;
    width:100%;
    font-family: sans-serif;
    position:relative;
    /*background: repeat-x top left;*/
    /*border-top:3px solid #235F7D;
    border-left:3px solid #235F7D;
    border-right:3px solid #235F7D;
    border-bottom:3px solid #235F7D;*/
    margin:20px 0 60px 0;
    /* font-weight:bold; */
    z-index: 30;
}

.menu1 ul {
    padding:0;
    margin:0;
    list-style-type:none;
    z-index: 5;
}

.menu1 li {
    padding: 0;
    margin: 0;
    border: 1px solid #235F7D;
    background: white;
}

.menu1 ul li {
    float:left;
    position:relative;
    z-index: 10;
}

.menu1 ul li a, .menu1 ul li a:visited { /* Menu */
    float:left;
    display:block;
    text-decoration:none;
    color:#000;
    padding:0px 10px;
    line-height:22px;
    height:22px;
    border-bottom:3px solid #fff; /* lien sous les titres des menus*/
    font-size: 14px
}

.menu1 ul li:hover {
    width:auto;
}

.menu1 ul li a.menu1one:hover {
    border-color:#c00; 
    color:#000;
}

.menu1 ul li a.menu1two:hover {
    border-color:#c60; 
    color:#fc0;
}

.menu1 ul li a.menu1three:hover {
    border-color:#cc0; 
    color:#cc0;
}

.menu1 ul li a.menu1four:hover {
    border-color:#080; 
    color:#0e0;
}

.menu1 ul li a.menu1five:hover {
    border-color:#00c; 
    color:#aaf;
}

.menu1 ul li a.menu1six:hover {
    border-color:#c0c; 
    color:#f8f;
}

.menu1 ul li:hover a.menu1one {
    border-color:#c00; 
    color:#000; 
}

.menu1 ul li:hover a.menu1two {
    border-color:#c60; 
    color:#fc0; 
}

.menu1 ul li:hover a.menu1three {
    border-color:#cc0; 
    color:#cc0; 
}

.menu1 ul li:hover a.menu1four {
    border-color:#080; 
    color:#0e0; 
}

.menu1 ul li:hover a.menu1five {
    border-color:#00c; 
    color:#aaf; 
}

.menu1 ul li:hover a.menu1six {
    border-color:#c0c; 
    color:#f8f; 
}

li#menu1one :hover { 
    color:blue; 
    background-color: #83c2e2 
}

li#menu2one :hover { 
    color:blue; 
    background-color: #83c2e2
}

li#menu3one :hover { 
    color:blue; 
    background-color: #83c2e2 
}

li#menu4one :hover { 
    color:blue; 
    background-color: #83c2e2
}

li#menu5one :hover { 
    color:blue; 
    background-color: #83c2e2
}

li#menu6one :hover { 
    color:blue; 
    background-color: #83c2e2
}

li#menu7one :hover { 
    color:blue; 
}

.menu1 ul li ul {
    display: none;
}

.menu1 table {
    margin:0;
    border-collapse:collapse;
    font-size:11px;
    position:absolute;
    top:0;
    left:0;
}

/* specific to non IE browsers */
.menu1 ul li:hover ul {
    display:block;
    position:absolute;
    top:22px;
    margin-top:3px;
    left:0;
    width:154px;
    border-bottom:1px solid #000;
}

.menu1 ul li:hover ul.endstop {
    left:-92px;
}

.menu1 ul li:hover ul li ul {
    display: none;
}

.menu1 ul li:hover ul li a { /* Sous-menu horizontal */
    display:block;
    background:#fff;
    color:#000;
    height:auto;
    line-height:15px;
    padding:4px 16px;
    width:120px;
    border:1px solid white;
    border-bottom:0;
}

.menu1 ul li:hover ul li a.drop {
    background:#83c2e2  no-repeat 3px 8px;
}

.menu1 ul li:hover ul li a:hover {
    color:#000;
    background: #83c2e2  no-repeat 3px 8px; /* coloration des background des sous menus  */
}

.menu1 ul li:hover ul li a:hover.drop {
    background: #83c2e2  no-repeat 3px 8px;
}

.menu1 ul li:hover ul li:hover ul {
    display:block;
    position:absolute;
    left:153px;
    top:-1px;
}

.menu1 ul li:hover ul li:hover ul.left {
    left:-153px;
}

/******************************************/

/********************************************/


/* specific to IE5.5 and IE6 browsers */
.menu1 ul li a:hover ul {
    display:block;
    position:absolute;
    top:22px;
    background:#fff;
    left:0;
    border-bottom:1px solid #000;
}

.menu1 ul li a:hover ul.endstop {
    left: -92px;
}

.menu1 ul li a:hover ul li a {
    display:block;
    background:#fff;
    color:#000;
    height:1px;
    line-height:15px;
    padding:4px 16px;
    width:154px;
    border:1px solid #000;
    border-bottom:0;
}

.menu1 ul li a:hover ul li a.drop {
    background:#ccd  no-repeat 3px 8px;
    padding-bottom:4px;
}

.menu1 ul li a:hover ul li a ul {
    visibility:hidden;
    position:absolute;
    height:0;
    width:0;
}

.menu1 ul li a:hover ul li a:hover {
    color:#000;
    background: #ccd  no-repeat 3px 8px;
}

.menu1 ul li a:hover ul li a:hover.drop {
    background: #ccd no-repeat 3px 8px;
}

.menu1 ul li a:hover ul li a:hover ul {
    visibility:visible;
    position:absolute;
    top:0;
    color:#000;
    left:153px;
}

.menu1 ul li a:hover ul li a:hover ul.left {
    left:-153px;
}


/**************** Autre Menu *********************/
#nav {
    margin:20px 0 180px 0;
}

/* A modified version of A List Apart - http://alistapart.com/articles/slidingdoors2/ */
#nav {
    float:center;
    width: 80%;
    position: center;
}

#nav ul {
    margin:0;
    padding:10px 10px 0;
    list-style:none;
}

#nav li {
    float:left;
    display:inline;
    background:url("right_both.gif") no-repeat right top;
    margin:0 0 0 9px;
    padding:0;
}

#nav a {
    float:left;
    display:block;
    position:relative;
    left:-9px;
    margin-right:-9px;
    width:.1em;
    background:url("left_both.gif") no-repeat left top;
    padding:5px 20px;
    text-decoration:none;
    font-weight:bold;
    color:#765;
}

#nav > ul a {
    width:auto;
}

    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#nav a {
    float:none;
}

    /* End IE5-Mac hack */
#nav a:hover {
    color:#333;
}

#demos #nav-demos, #menus #nav-menus, #layouts #nav-layouts, #boxes #nav-boxes, #mozilla #nav-mozilla, #explorer #nav-explorer, #opacity #nav-opacity {
    background-position:100% -150px;
}

#demos #nav-demos a, #menus #nav-menus a, #layouts #nav-layouts a, #boxes #nav-boxes a, #mozilla #nav-mozilla a, #explorer #nav-explorer a, #opacity #nav-opacity a {
    background-position:0 -150px;
    padding-bottom:6px;
    color:#333;
}
      
/* not for IE5.x or IE6 */
#nav li:hover, #nav li:hover a {
    background-position:90% -150px;
    color:#333;
}

#nav li:hover a {
    background-position:0 -150px
}


/********************************** Ajout ARNAUD POUR LES EPs***********************/

#info {background:#f8f8f8; border:0;}

/* ================================================================
This copyright notice must be untouched at all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/final_drop.html
Copyright (c) 2005-2008 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any
way to fit your requirements.
=================================================================== */

#newmenu * { font-size: 10px!important; }
#newmenu ul, #newmenu li { padding: 0; margin: 0; }

#newmenu {width:1199px; height:32px; position:relative; z-index:100;border-right:1px solid #000; font-family:arial, sans-serif;}
/* hack to correct IE5.5 faulty box model */
* html #newmenu {width:1200px; w\idth:1199px;}
/* remove all the bullets, borders and padding from the default list styling */
#newmenu ul {padding:0;margin:0;list-style-type:none;}
#newmenu ul ul {width:199px;}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#newmenu li {float:left;width:199px;position:relative;}
/* style the links for the top level */
#newmenu a, #newmenu a:visited {display:block;font-size:12px;text-decoration:none; color:#fff; width:188px; height:30px; border:1px solid #000; border-width:1px 0 1px 1px; background:#09c; padding-left:10px; line-height:29px; font-weight:bold;}
/* a hack so that IE5.5 faulty box model is corrected */
* html #newmenu a, * html #newmenu a:visited {width:199px; w\idth:138px;}

/* style the second level background */
#newmenu ul ul a.drop, #newmenu ul ul a.drop:visited {background:#d4d8bd;}
/* style the second level hover */
#newmenu ul ul a.drop:hover{background:#c9ba65;}
#newmenu ul ul :hover > a.drop {background:#c9ba65;}
/* style the third level background */
#newmenu ul ul ul a, #newmenu ul ul ul a:visited {background:#e2dfa8;}
/* style the third level hover */
#newmenu ul ul ul a:hover {background:#b2ab9b;}


/* hide the sub levels and give them a positon absolute so that they take up no room */
#newmenu ul ul {visibility:hidden;position:absolute;height:0;top:31px;left:0; width:199px;border-top:1px solid #000;}
/* another hack for IE5.5 */
* html #newmenu ul ul {top:30px;t\op:31px;}

/* position the third level flyout menu */
#newmenu ul ul ul{left:199px; top:-1px; width:199px;}

/* position the third level flyout menu for a left flyout */
#newmenu ul ul ul.left {left:-199px;}

/* style the table so that it takes no ppart in the layout - required for IE to work */
#newmenu table {position:absolute; top:0; left:0; border-collapse:collapse;;}

/* style the second level links */
#newmenu ul ul a, #newmenu ul ul a:visited {background:#d4d8bd; color:#000; height:auto; line-height:1em; padding:5px 10px; width:178px;border-width:0 1px 1px 1px;}
/* yet another hack for IE5.5 */
* html #newmenu ul ul a, * html #newmenu ul ul a:visited {width:200px;w\idth:178px;}

/* style the top level hover */
#newmenu a:hover, #newmenu ul ul a:hover{color:#000; background:#b7d186;}
#newmenu :hover > a, #newmenu ul ul :hover > a {color:#000; background:#b7d186;}

/* make the second level visible when hover on first level list OR link */
#newmenu ul li:hover ul,
#newmenu ul a:hover ul{visibility:visible; }
/* keep the third level hidden when you hover on first level list OR link */
#newmenu ul :hover ul ul{visibility:hidden;}
/* make the third level visible when you hover over second level list OR link */
#newmenu ul :hover ul :hover ul{ visibility:visible;}